#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.notification-scroll-container {
  height: 256px;
  overflow: hidden;
  position: relative;
}

.notification-scroll-content {
  display: flex;
  flex-direction: column;
  animation: scroll-up 20s linear infinite;
  position: absolute;
  width: 100%;
}

.notification-scroll-content:hover {
  animation-play-state: paused;
}

/* Add this to your App.css or a global CSS file */
/*
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.video-testimonials-marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video-testimonials-marquee-content {
  display: flex;
  width: max-content; /* Allow content to take its natural width */
  animation: marquee-left 30s linear infinite;
}

.video-testimonials-marquee-content:hover {
  animation-play-state: paused;
}
*/
